    /* Estilo específico para a tela de login */
    .card-login {
        border-top: 5px solid #002d5b; /* Azul Marinho Institucional */
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }
    .btn-pm {
        background-color: #002d5b;
        color: white;
        border: none;
    }
    .btn-pm:hover {
        background-color: #001f3f;
        color: white;
    }
    /* Ocultar a navbar apenas na tela de login se necessário */
    nav, .navbar { display: none !important; }
