{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <img src="{{ logo_uri }}" alt="Logo da Brigada Militar" class="logo">
    <title>Relatório {{ relatorio.nr_relatorio }}/{{ relatorio.ano_criacao }}</title>
    <link rel="stylesheet" href="{{ css_uri }}">
</head>
<body>
<header>
    <p>ESTADO DO RIO GRANDE DO SUL</p>
    <p>SECRETARIA DA SEGURANÇA PÚBLICA</p>
    <p>BRIGADA MILITAR - SISTEMA DE INTELIGÊNCIA</p>
    <h1>RELATÓRIO PERIÓDICO DE INTELIGÊNCIA Nº {{ relatorio.nr_relatorio }}/{{ relatorio.ano_criacao }}/ARI SUL - {{ relatorio.data_inicio|date:"d/m/Y" }}</h1>
</header>
<br>
    <h2>SUMÁRIO</h2>
    <p class="periodo">PERÍODO: DE {{ relatorio.data_inicio|date:"dmY" }} A {{ relatorio.data_fim|date:"dmY" }}</p>

    {% for item in ocorrencias %}
        <p>
            {{ forloop.counter }}. {{ item.ocorrencia.natureza.nome|upper }} - 
            {{ item.ocorrencia.opm.municipio.nome|upper }} ({{ item.sigla_opm_limpa|upper }})
        </p>
    {% endfor %}

    <div style="page-break-before: always;"></div>
    
    <body>
    {% for item in ocorrencias %}
        {% with ocorrencia=item.ocorrencia %}
        <div class="ocorrencia">
            {% with nr_ocorrencia=forloop.counter %}
            
            <p class="titulo">
                {{ nr_ocorrencia }}. {{ ocorrencia.natureza.nome|upper }} – 
                {{ ocorrencia.opm.municipio.nome|upper }} ({{ item.sigla_opm_limpa|upper }})
            </p>

            <p class="historico">
                <strong>Em {{ ocorrencia.data_hora_bruta }},</strong>
                
                na {{ ocorrencia.rua }}, n° {{ ocorrencia.numero }}, bairro {{ ocorrencia.bairro }}, na cidade de {{ ocorrencia.opm.municipio.nome }},
                
                {{ ocorrencia.relato_historico }}
            </p>

            {% endwith %}
        </div>
        {% endwith %}
    {% empty %}
        <p>Este relatório não possui ocorrências.</p>
    {% endfor %}

</body>
</html>

