<div class="card card-body mb-3 border envolvido-form" data-form-index="{{ form_envolvido.prefix|cut:envolvido_formset.prefix }}">
    <h6 class="mb-3 d-flex justify-content-between align-items-center">
        <span>
            <i class="fas fa-user"></i> 
            Pessoa Envolvida #<span class="form-index">{{ form_envolvido.prefix|cut:envolvido_formset.prefix|default:'__REPLACE_ME__' }}</span>
        </span>
        
        <button type="button" class="btn btn-sm btn-outline-danger remove-envolvido-btn">
            <i class="fas fa-trash-alt"></i> Remover
        </button>

    </h6>
    
    <div class="row">
        {% for field in form_envolvido %}
            {% if field.name == 'id' %}
                {{ field }}
            {% elif field.name == 'DELETE' %}
                {{ field.as_hidden }} 
            {% else %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
        {% if form_envolvido.non_field_errors %}
        <div class="col-12">
            <div class="alert alert-danger">{{ form_envolvido.non_field_errors }}</div>
        </div>
        {% endif %}
    </div>
</div>